.cursor{
  cursor: pointer;
  padding: 7px;
  font-size: 1.4em;
}
.input{
  border-color: #c4a349;
  border-radius: 5px;
  color: #c4a349;
}
.delete{
  background-color: #c4a349;
  border: none;
  color: white;
  padding: 0.2em;
  border-radius: 5px;
}
.col-3{
  text-align: center;
  font-size: large;
  color: #c4a349;
}
.col-4{
  text-align: center;
  font-size: large;
  color: #c4a349;
  font-weight: bolder;
}
.row{
  margin: 2% 0%;
  border-bottom: solid 2px #c4a349;
}
